# Vivado project build artifacts
*.runs/
*.cache/
*.sim/
*.hw/
*.ip_user_files/
*.gen/
*.Xil/
*.webtalk/
*.data/

# Logs and reports
*.jou
*.log
*.str
*.pb
*.rpt
*.html

# Checkpoints
*.dcp

# Simulation outputs
*.wdb
*.wcfg
*.xsim/

# Temporary/backup
*.tmp
*.backup
*.bak

# OS/editor junk
.DS_Store
Thumbs.db
